/*Variables*/
/*Barras de nav*/
header {
  padding-top: 1rem;
}
header .buscar {
  display: flex;
  padding: 6px 12px 6px 14px;
  border-radius: 20px;
  border: 1px solid white;
  background: #D7DBEA;
  box-shadow: #D7DBEA;
  border-color: #2F3684;
}
header .busqueda {
  border: none;
  background: transparent;
  padding-left: 25px;
  background: url(../assets/search.png);
  background-size: 20px;
  background-repeat: no-repeat;
}
header .user a {
  text-decoration: none;
  color: #2F3684;
  font-weight: bold;
}

.second-nav {
  background-color: #2F3684;
  box-shadow: 0 1px 2px #2F3684;
  list-style-type: none;
  margin-top: 0.5rem;
}
.second-nav .dropdown-menu {
  background-color: #2F3684;
}
.second-nav .dropdown-menu .dropdown-item {
  background-color: #2F3684;
  color: white;
}
.second-nav .dropdown-menu .dropdown-item:hover {
  color: #2F3684;
  text-decoration: none;
  background-color: white;
}
.second-nav .dropdown-menu .dropdown-item:active {
  color: white;
  text-decoration: none;
  background-color: #F8934E;
}

.items-nav {
  color: white;
}
.items-nav:hover {
  color: #F8934E;
}

/*Container Index*/
main {
  min-height: 100vh;
}

.pagina-principal .card {
  margin-top: 2rem;
}
.pagina-principal .card .card-img-top {
  padding-bottom: 1rem;
}
.pagina-principal .card-body {
  color: #2F3684;
}
.pagina-principal .card-body .card-title {
  font-size: 30px;
}
.pagina-principal .card-body .btn {
  border: 1px solid #2F3684;
  border-radius: 5px;
  background-color: #2F3684;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-style: italic;
}
.pagina-principal .card-body .btn:hover {
  background-color: #D7DBEA;
  color: #2F3684;
}
.pagina-principal .card-blue {
  border: 2px solid #2F3684;
  border-radius: 10px;
  margin: 1.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 2px #2F3684;
}
.pagina-principal .card-blue:hover {
  border: 2px solid #D7DBEA;
  margin: 0.5rem;
  transition: 300ms;
}
.pagina-principal .card-orange {
  border: 2px solid #F8934E;
  border-radius: 10px;
  margin: 1.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 2px #F8934E;
}
.pagina-principal .card-orange:hover {
  border: 2px solid rgba(248, 146, 78, 0.4156862745);
  margin: 0.5rem;
  transition: 300ms;
}

/*Footer*/
.footer {
  color: #2F3684;
  border-top: 2px solid #2F3684;
  box-shadow: 1px #D7DBEA;
  height: 100px;
}
.footer .item-footer {
  color: #2F3684;
}
.footer .item-footer a, .footer .item-footer ul, .footer .item-footer li {
  color: #2F3684;
}

/*Listado*/
.table-responsive {
  margin: 0.5rem;
}
.table-responsive .table-bordered {
  border-color: #2F3684;
}
.table-responsive .primera-fila > tr {
  text-align: center;
}

tbody .link-mandataria {
  text-decoration: none;
  color: #2F3684;
  font-weight: bold;
}
tbody .link-mandataria:hover {
  color: #F8934E;
}
tbody .link-obs {
  color: #2F3684;
  font-weight: bold;
}
tbody td, tbody th {
  text-align: center;
}

/*Normas*/
.card-mandataria {
  border: 2px solid #2F3684;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 2px #2F3684;
}
.card-mandataria a {
  text-decoration: none;
  text-align: center;
  color: #2F3684;
}
.card-mandataria:hover {
  border: 2px solid rgba(248, 146, 78, 0.4156862745);
  margin: 0rem;
  transition: 300ms;
}

/*Normas PDF*/
.title-normas a {
  color: #2F3684;
  text-decoration: none;
}
.title-normas a:hover {
  color: #F8934E;
}

.link-ooss a {
  color: #2F3684;
  font-size: 20px;
}
.link-ooss a:hover {
  color: #F8934E;
}

/*Prestadores*/
.title {
  color: #2F3684;
  padding-left: 0.5rem;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.prestador .container-fluid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.prestador .container-fluid .imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prestador .container-fluid .imagen .img-prest {
  width: 500px;
}

.prestadores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.prestadores .tarjeta {
  background-color: #D7DBEA;
  padding: 1rem;
  box-shadow: 5px solid #2F3684;
}
.prestadores .tarjeta a {
  text-decoration: none;
  color: #2F3684;
}
.prestadores .prest {
  width: 100%;
  transition: 1s;
}
.prestadores .prest:hover {
  width: 70%;
  background-color: rgba(248, 146, 78, 0.4156862745);
}
.prestadores .prest-2 {
  width: 100%;
  background-color: rgba(248, 146, 78, 0.4156862745);
  transition: 1s;
}
.prestadores .prest-2:hover {
  width: 70%;
  background-color: #D7DBEA;
}

/**
* ----------------------------------------
* animation tracking-in-expand
* ----------------------------------------
*/
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/*Novedades*/
.novedades {
  margin-left: 1rem;
  display: flex;
}
.novedades h3 {
  padding-top: 0.5rem;
  color: #2F3684;
  font-weight: bold;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.novedades li {
  color: #2F3684;
  font-weight: bold;
}

.img-container-news {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.img-container-news .news-img {
  float: right;
  border-radius: 50px;
  justify-content: right;
  display: flex;
  box-shadow: 0 1px 5px #D7DBEA;
  width: 500px;
}

/**
* ----------------------------------------
* animation tracking-in-expand
* ----------------------------------------
*/
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/*Formulario*/
.form {
  color: #2F3684;
}
.form .formulario {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.form .contact {
  border-color: #2F3684;
}
.form .imagen {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
}
.form .imagen .image-contact {
  width: 500px;
}

.btn-form .btn {
  border: 1px solid #2F3684;
  border-radius: 5px;
  background-color: #2F3684;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-style: italic;
}
.btn-form .btn:hover {
  background-color: #D7DBEA;
  color: #2F3684;
}

/*Ingresar*/
.iniciar-sesion {
  color: #2F3684;
}

.login {
  border-color: #2F3684;
}

.btn-iniciar {
  background-color: #2F3684;
  margin-top: 0.5rem;
  color: white;
}

.telefonos {
  padding: 0.5rem;
  margin-top: 1rem;
}
.telefonos .container {
  display: flex;
  justify-content: center;
}
.telefonos .card {
  height: auto;
  border: 2px solid #2F3684;
  align-items: center;
}
.telefonos .card:hover {
  border: 2px solid rgba(248, 146, 78, 0.4156862745);
  margin: 0rem;
  transition: 300ms;
}
.telefonos .card-title {
  font-weight: bold;
  font-size: 25px;
}
.telefonos .card-body li, .telefonos .card-body a {
  font-weight: bold;
}
.telefonos .card-body h5 {
  text-align: center;
  text-decoration: underline;
}
.telefonos .card-title, .telefonos .card-body, .telefonos .card {
  color: #2F3684;
}
.telefonos .card-title a, .telefonos .card-body a, .telefonos .card a {
  color: #2F3684;
}
.telefonos .card-title a:hover, .telefonos .card-body a:hover, .telefonos .card a:hover {
  color: #F8934E;
}
.telefonos .img-tel {
  width: 25px;
}
.telefonos .img-wapp {
  width: 25px;
}

@media (max-width: 767px) {
  .second-nav {
    background-color: #fff;
  }
  .nav-link {
    color: #2F3684;
  }
  .first-nav {
    justify-content: space-around;
  }
  .pagina-principal {
    background-color: rgba(215, 219, 234, 0.6235294118);
  }
  body {
    font-size: 1.2rem;
  }
}
@media (max-width: 435px) {
  .busqueda {
    border: none;
    background: transparent;
    padding-left: 25px;
    background: url(../assets/search.png);
    background-size: 20px;
    background-repeat: no-repeat;
    width: 0px;
    transition: all 0.1s;
  }
  .busqueda:focus {
    outline: none;
    width: 300px;
  }
  body {
    font-size: 1.2rem;
  }
}
@media (max-width: 1098px) {
  .pagina-principal .card-body {
    color: #2F3684;
  }
  .pagina-principal .card-body .card-title {
    font-size: 25px;
  }
}
@media (max-width: 805px) {
  .telefonos h5 {
    font-size: 16px;
  }
}
@media (max-width: 378px) {
  .footer {
    font-size: 1rem;
  }
}
@media (max-width: 1160px) {
  .prestador .container-fluid {
    display: grid;
    grid-template-columns: 3fr;
  }
  .prestador .container-fluid .imagen {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */