.buscar {
  border-radius: 20px;
  border: 1px solid white;
  background: #D7DBEA;
  padding: 0.px 22px 9px 26px;
  box-shadow: #D7DBEA;
  border-color: #2F3684;
}

.busqueda {
    border: none;
    background: transparent;
    padding-left: 25px;
    
}

.user a {
    text-decoration: none;
    color: #2F3684;
    font-weight: bold;
}

.second-nav {
    background-color: #2F3684;
    box-shadow: 0 1px 2px #2F3684;
    list-style-type: none;
}   

.dropdown-menu {
    background-color: #2F3684;
}

.dropdown-item {
    background-color: #2F3684;
    color: white;
}

.nav-link {
    color: white;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #F8934E;
  }

@media (max-width: 767px) {
    .second-nav {
        background-color: #fff;
    }
    .nav-link {
        color: #2F3684;
    }
    .first-nav {
        justify-content: space-around;
    }
    .pagina-principal{
        background-color: #d7dbea9f;
    }
}

@media (max-width: 435px) {
    .buscar {
    display: none;
    }
}
/*Container*/

.card {
    margin-top: 2rem;
}

.card-img-top {
    padding-bottom: 1rem;
}
.card-title {
    font-size: 30px;
}

.card-blue {
    border: 2px solid #2F3684;
    border-radius: 10px;
    margin: 1.5rem;
    padding: 0.5rem;
    box-shadow: 0 1px 2px #2F3684;
}

.card-orange {
    border: 2px solid #F8934E;
    border-radius: 10px;
    margin: 1.5rem;
    padding: 0.5rem;
    box-shadow: 0 1px 2px #F8934E;
}

.card-body {
    color: #2F3684;
}

.card-blue:hover {
    border: 2px solid #D7DBEA;
    margin: 1rem;
    transition: 300ms;
}

.card-orange:hover {
    border: 2px solid #D7DBEA;
    margin: 1rem;
    transition: 300ms;
}
.btn {
    border: 1px solid #2F3684;
    border-radius: 5px;
    background-color: #2F3684;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-style: italic;
}

.btn:hover {
    background-color: #D7DBEA;

}
/*Footer*/

footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D7DBEA;
    box-shadow: 0 1px 5px #D7DBEA;
    border: 1px solid #2F3684;
}

.copyright {
    text-align: center;
    font-size: 14px; 
    color: #2F3684; 
     
}

.contacto-footer {
    list-style-type: none;
}

.contacto-footer a {
  color: #2F3684;
}

/*Formulario*/

.form {
    color: #2F3684;

}

.formulario {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.contact {
    border-color: #2F3684;
}

.img-container {
    display: flex;
    
}
.img-form {
    float:right;
    justify-content: right;
  }

/*Novedades*/
.novedades h3 {
    color: #2F3684;
    font-weight: bold;
}
.novedades li {
    color: #2F3684;
    font-weight: bold;
}

.novedades {
    margin-left: 1rem;
    display: flex;
}

.news-img {
    float: right;
    border-radius: 50px;
    justify-content: right;
    display: flex;
    box-shadow: 0 1px 5px #D7DBEA;
    width: 500px;
}
  
.img-container-news {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

/*Listado*/
.table-responsive {
    margin: 0.5rem;
}
  
.table-bordered {
    border-color: #2F3684;
  }

.valida {
    background-color: #F8934E;
}

.link-mandataria {
    text-decoration: none;
    color: #2F3684;
    font-weight: bold;
}

.link-mandataria:hover {
    color: #F8934E;
}

.link-obs {
    color: #2F3684;
    font-weight: bold;
}

td , th{
    text-align: center;
}

/*Normas*/
.card-mandataria {
    border: 2px solid #2F3684;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 1px 2px #2F3684;
}

.card-mandataria a{
    text-decoration: none;
    text-align: center;
}

/*Normas PDF*/
h1 {
    color: #2F3684;
}

.link-ooss a{
    color: #2F3684;
    font-size: 20px;
}

.link-ooss a:hover {
    color: #F8934E;
}

/*Prestadores*/

.list-prest {
    display: flex;
    margin-top: 1rem;
}

.listado-img {
    width: 500px;
    float: right;
}

/*Ingresar*/

.iniciar-sesion {
    color: #2F3684;
    
}

.login {
    border-color: #2F3684;
}

.btn-iniciar {
    background-color: #2F3684;
    margin-top: 0.5rem;
}
