 /*Formulario*/
  
 .form {
    color: $colorAzulPrincipal;

    .formulario {
      margin-left: 0.5rem;
      margin-top: 0.5rem;
  }

  .contact {
      border-color: $colorAzulPrincipal;
  }

  .imagen {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;

    .image-contact {
      width: 500px;
    }
  }
  
}

.btn-form {
  .btn {
    border: 1px solid $colorAzulPrincipal;
    border-radius: 5px;
    background-color: $colorAzulPrincipal;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-style: italic;

    &:hover {
        background-color: $colorAzulSecundario;
        color: $colorAzulPrincipal;
    
    }
}
}

