 /*Footer*/
  
 footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 5px $colorAzulSecundario;
    border-top: 2px solid $colorAzulPrincipal;

    .copyright {
      text-align: center;
      font-size: 14px; 
      color: $colorAzulPrincipal;
      
      .contacto-footer {
          list-style-type: none;

          a {
              color: $colorAzulPrincipal;
            }
      }
       
  }
}