 /*Footer*/
  
 .footer {
      color: $colorAzulPrincipal;
      border-top: 2px solid $colorAzulPrincipal;
      box-shadow: 1px $colorAzulSecundario;  
      height: 100px; 
      
      .item-footer {
        color: $colorAzulPrincipal;
          a, ul, li {
            color: $colorAzulPrincipal;
          }
      }

   

 }  
