/*Barras de nav*/

header {
    padding-top: 1rem;
    .buscar {
        display: flex;
        padding: 6px 12px 6px 14px;
        border-radius: 20px;
        border: 1px solid white;
        background: $colorAzulSecundario;
        box-shadow: $colorAzulSecundario;
        border-color: $colorAzulPrincipal;
       
        }
      
      .busqueda {
          border: none;
          background: transparent; 
          padding-left: 25px;
          background-image: url(../assets/search.png);
          background-size: 20px;
          background-repeat: no-repeat;
                   
      }

      .user a {
        text-decoration: none;
        color: $colorAzulPrincipal;
        font-weight: bold;
    }
}

.second-nav {
        background-color: $colorAzulPrincipal;
        box-shadow: 0 1px 2px $colorAzulPrincipal;
        list-style-type: none;
        margin-top: 0.5rem;

        .dropdown-menu {
            background-color: $colorAzulPrincipal;
            

            .dropdown-item {
                background-color: $colorAzulPrincipal ;
                color: white;
                
                &:hover {
                    color: $colorAzulPrincipal;
                    text-decoration: none;
                    background-color: white;
                }

                &:active {
                        color: white;
                        text-decoration: none;
                        background-color: $colorNaranjaPrincipal;
                }  
            }
        }
          
        
    } 

    .items-nav {
        color: white;

        &:hover {
            color: $colorNaranjaPrincipal;   
        }

    }

