 /*Container Index*/
 main {
    min-height: 75vh;
    
 }
 .pagina-principal {
    .card {
        margin-top: 2rem;

        .card-img-top {
            padding-bottom: 1rem;
        }
    }

    .card-body {
        color: $colorAzulPrincipal;

        .card-title {
            font-size: 30px;
        }

        .btn {
            border: 1px solid $colorAzulPrincipal;
            border-radius: 5px;
            background-color: $colorAzulPrincipal;
            padding: 10px 20px;
            cursor: pointer;
            color: white;
            font-style: italic;

            &:hover {
                background-color: $colorAzulSecundario;
                color: $colorAzulPrincipal;
            
            }
        }
    }

    .card-blue {
        border: 2px solid $colorAzulPrincipal;
        border-radius: 10px;
        margin: 1.5rem;
        padding: 0.5rem;
        box-shadow: 0 1px 2px $colorAzulPrincipal;

        &:hover {
            border: 2px solid $colorAzulSecundario;
            margin: 0.5rem;
            transition: 300ms;
        }
    }
    
    .card-orange {
        border: 2px solid $colorNaranjaPrincipal;
        border-radius: 10px;
        margin: 1.5rem;
        padding: 0.5rem;
        box-shadow: 0 1px 2px $colorNaranjaPrincipal;

        &:hover {
            border: 2px solid $colorNaranjaSecundario;
            margin: 0.5rem;
            transition: 300ms;
        }
    }

}
