/*Listado*/

.table-responsive {
    margin: 0.5rem;

    .table-bordered {
      border-color: $colorAzulPrincipal;
    }

    .primera-fila > tr {
        text-align: center;
    }
}

tbody {
  .link-mandataria {
      text-decoration: none;
      color: $colorAzulPrincipal;
      font-weight: bold;

      &:hover {
          color: $colorNaranjaPrincipal;
      }
  }

  .link-obs {
      color: $colorAzulPrincipal;
      font-weight: bold;
  }

 td , th {
      text-align: center;
  }
}