 /*Ingresar*/
  
.iniciar-sesion {
    color: $colorAzulPrincipal;
    
}

.login {
    border-color: $colorAzulPrincipal;
}

.btn-iniciar {
    background-color: $colorAzulPrincipal;
    margin-top: 0.5rem;
    color: white;
}
