@media (max-width: 767px) {
    .second-nav {
        background-color: #fff;
    }
    .nav-link {
        color: $colorAzulPrincipal;
    }
    .first-nav {
        justify-content: space-around;
    }
    .pagina-principal{
        background-color: #d7dbea9f;
    }

    body {
        font-size: 1.2rem;
     }
}

@media (max-width: 435px) {      
      .busqueda {
          border: none;
          background: transparent;
          padding-left: 25px;
          background-image: url(../../assets/search.svg);
          background-size: 20px;
          background-repeat: no-repeat;
          width: 0px;
          transition: all 0.1s;

            &:focus {
                outline: none;
                width: 300px;
            }
          
      }
    body {
        font-size: 1.2rem;
     }
}

@media (max-width: 1098px) {
    .pagina-principal {
        .card-body {
            color: $colorAzulPrincipal;
    
            .card-title {
                font-size: 25px;
            }
    }
    
}
}

@media (max-width: 805px) {
    .telefonos {
       h5 {
        font-size: 16px;
       }
    }
}

@media (max-width: 378px) {
    .footer {
        font-size: 1rem;
        
    }
}