/*Prestadores*/

.title {
    color: $colorAzulPrincipal;
    padding-left: 0.5rem;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.prestadores {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .tarjeta {
        background-color: $colorAzulSecundario;
        padding: 1rem;
        box-shadow: 5px solid $colorAzulPrincipal;

        a {
            text-decoration: none;
            color: $colorAzulPrincipal;
        }

    }

    .prest {
        width: 20%;
        transition: 1s;
      
        &:hover {
          width: 40%;
          background-color: $colorNaranjaSecundario;     
        }
    }

    .prest-2 {
      width: 20%;
      background-color: $colorNaranjaSecundario;
      transition: 1s;
    
      &:hover {
        width: 40%;
        background-color: $colorAzulSecundario;     
      }
  }
   
}

  /**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }