.telefonos {

    padding: 0.5rem;
    margin-top: 1rem;
    
    
    .card {
        height: auto;
        border: 2px solid $colorAzulPrincipal;
        align-items: center;

        &:hover {
            border: 2px solid $colorNaranjaSecundario;
            margin: 0rem;
            transition: 300ms;
        }
        
    }

    .card-title{
        font-weight: bold;
        font-size: 25px;
       
    }

    .card-body {
        li, a {
            font-weight: bold;
            
        }
        h5 {
          text-align: center;
          text-decoration: underline;
        }
      
     
    }
    .card-title, .card-body , .card {
        color: $colorAzulPrincipal;
        
        a {
            color: $colorAzulPrincipal;
            

            &:hover {
                color: $colorNaranjaPrincipal;
            }
        }
    }


    .img-tel {
        width: 25px;
    }

    .img-wapp {
        width: 25px;
    }
}


